<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">

<div class="wrap">
<link rel="stylesheet" href="/css/frame/gameLook.css">
<script src="/js/frame/gameLook.js" defer></script>
  <div class="wrap__content">
    <form action="" method="post" class="regist__wrap" enctype="multipart/form-data">
      
      <div class="gl__header">
        <div class="gl__header__title"><span>컨텐츠 등록 현황</span></div>
        <div class="gl__header__select">
          <select name="" id="">
            <option value="100">레벨을 선택해주세요.</option>
            <option value="초급">초급</option>
            <option value="중급">중급</option>
            <option value="고급">고급</option>
            <option value="프로">프로</option>
          </select>

          <div class="learn__button">
            <a href="">학습자료만들기 </a>
          </div>
          
        </div>
      </div>
      <div class="gl__body">
        <div class="gl__body__table">


          <div class="gl__body__thead">
            <div class="gl__thead_one">선택</div>
            <div class="gl__thead_two">컨텐츠이미지</div>
            <div class="gl__thead_three">컨텐츠명</div>
            <div class="gl__thead_four">레벨</div>
            <div class="gl__thead_five">구독개월</div>
            <div class="gl__thead_six">등록일</div>
            <div class="gl__thead_seven">판매가</div>
            <div class="gl__thead_eight">버튼</div>
          </div>


          <div class="gl__body__tbody">

			<th:block th:each="gameContent : ${gameContent}">
	            <div class="gl__tbody__content">
	              <div class="gl__tbody_one"><input type="checkbox" th:value="${gameContent.game_no}" class="game_checkBox"></div>
	              <div class="gl__tbody_two"><img th:src="@{/display/{filepath}/{uuid}/{filename}(filepath=${gameContent.filepath},uuid=${gameContent.uuid},filename=${gameContent.filename})}"  ></div>
	              <div class="gl__tbody_three" th:text="${gameContent.game_title}">컨텐츠명</div>
	              <div class="gl__tbody_four" th:text="${gameContent.game_target_level} + 레벨">레벨</div>
	              <div class="gl__tbody_five" th:text="${gameContent.game_count} + 개월">구독개월</div>
	              <div class="gl__tbody_six" th:text="${gameContent.game_regdate}">기간</div>
	              <div class="gl__tbody_seven" th:text="${gameContent.game_discount_price} + 원">판매가</div>
	              <div class="gl__tbody_eight"><button id="gl__modify">수정</button><button id="gl__delete">삭제</button></div>
	            </div>
            </th:block>

          </div>


        </div>
      </div>
      


    </form>
  </div>
</div>
  
</th:block>
</html>