<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 포트원 API -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/frame/cart.css">
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<th:block th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">
<script src="/static/js/frame/lookup.js" defer></script>
<script src="/static/js/frame/payment.js" defer></script>



<div class="wrap">
	<!-- user_no -->

	<input type="hidden" th:value="${session.vo.user_id}" name="user_no" id="user_no">
	
	
	<div class="container">
		<div class="header">
			[[${session.vo.user_id}]]님의 장바구니
		</div>
		<div class="cart-item">
			<div class="item-image">
				<img src="/img/01_game_main.png" alt="content_pic">
			</div>
			<div class="item-details">
				<div class="game_title"></div>
				<div class="game_level"></div>
				<div class="game_content"></div>
				<div class="price"></div>
			</div>
		</div>
		<div class="cart-item">
			<div class="item-image">
				<img src="/img/01_game_main.png" alt="">
			</div>
			<div class="item-details">
				<div class="game_title"></div>
				<div class="game_level"></div>
				<div class="game_content"></div>
				<div class="price"></div>
			</div>
		</div>
		<div class="total_bill">총 금액:</div>
		<div class="total-summary">
			<div id="total_price"></div>
			<div class="game_discount_price"></div>
			<div></div>
			<div class="total_price" id="total_price"></div>
		</div>
		<div class="total_payment">
			<button class="btn-checkout" id="checkoutButton">결재하기</button>
		</div>
	</div>
	
	<div id="myModal" class="modal">
	  <div class="modal-content">
	    <span class="close">X</span>
	    <p></p>
	    <p></p>
	  </div>
    </div>
	
	<script>
	  var modal = document.getElementById('myModal');
	  var btn = document.getElementById('checkoutButton');
	  var span = document.getElementsByClassName('close')[0];

	  $("#checkoutButton").click(function() {
		    modal.style.display = 'block';
	  });
	  
	  span.onclick = function() {
		    modal.style.display = 'none';
	  }
	  window.onclick = function(event) {
		    if (event.target == modal) {
		      modal.style.display = 'none';
		    }
	  }
	  
	  var totalContent = $(".game_title").val() ;
	  console.log(totalContent + "11");  
	</script>

	
</div>
</th:block>
</html>