<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="/css/user/gameLists.css">
<link rel="stylesheet" href="/css/user/modals.css">



<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<th:block
	th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">
	<div class="wrap">

		<script src="/js/frame/modal.js" defer></script>
		<script src="/js/frame/gameList.js" defer></script>
		<script src="/js/user/gameLists.js" defer></script>
		<script src="/js/user/addCart.js" defer></script>
		<script src="/js/user/modal.js" defer></script>
		<script src="/js/user/game01.js" defer></script>
<script src="/js/user/game2.js" defer></script>

		
		<div th:replace="/re_base_pagevo/modal02.html  ::  UserTwo"></div>

		<div class="wrap__content">


			<div class="game__content__header">
				<div class="game__content__header__wrapper">

					<div class="game__content__title">
						<span>게임 컨텐츠 조회</span>
					</div>
					<div class="game__content__search">

						<form action="" method="get" class="game__search__input">
							<input type="hidden" name="JPage" value="1"> <input
								type="hidden" name="Jamount" th:value="${JPageVO.JAmount}">
							<!-- 폼있는 부분에다가 페이지가 이동되는지 실험을 해봤습니다 -->
							<input type="text" name="gameContentSearch"
								placeholder="찾을 강의를 입력하세요.">
							<button>검색</button>
						</form>

						<div id="game__divide">

							<button class="game__divide__btn active">
								<img src="/img/pc.png" alt=""> <span>전체</span>
							</button>

							<button class="game__divide__btn">
								<img src="/img/pc.png" alt=""> <span>튜토리얼</span>
							</button>

							<button class="game__divide__btn">
								<img src="/img/pc.png" alt=""> <span>초급</span>
							</button>

							<button class="game__divide__btn">
								<img src="/img/pc.png" alt=""> <span>중급</span>
							</button>

							<button class="game__divide__btn">
								<img src="/img/pc.png" alt=""> <span>고급</span>
							</button>

							<button class="game__divide__btn">
								<img src="/img/pc.png" alt=""> <span>프로</span>
							</button>

							<button class="game__divide__btn">
								<img src="/img/freeMoney.png" alt=""> <span>무료</span>
							</button>

							<button class="game__divide__btn">
								<img src="/img/money2.png" alt=""> <span>유료</span>
							</button>

						</div>

						<div class="game__sort">

							<div class="game__sort__div">
								<img src="/img/sort.png" alt=""> <select name="sort"
									id="sort">
									<option value="none">정렬상태</option>
									<option value="글자">글자</option>
									<option value="등록일">등록일</option>
									<option value="구독수">구독수</option>
								</select>
							</div>

						</div>


					</div>
				</div>



			</div>

			<div class="game__body">
					<div
						th:replace="/re_base_pagevo/modela1.html  ::  user"></div>
				

</div>

					<div
						th:replace="/re_base_pagevo/base_Page.html ::  game__content__page"></div>

				</div>
			</div>
		
	
</th:block>
</body>
</html>