<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.geomin.project.student.service.StudentMapper">
		
		
		<!-- 그룹 스터디 신청 -->
		<insert id="groupApply">
			INSERT INTO STUDY_GROUP_JOIN (SG_NO, USER_NO, SG_LEVEL,	SGJ_DATE)
								   VALUES(#{sg_no}, #{user_no}, #{sg_level}, CURDATE() )
		</insert>
		
		<!-- 그룹 신청 중복 여부 -->
		<select id="groupCheck" resultType="Integer">
			SELECT COUNT(*) FROM STUDY_GROUP_JOIN WHERE user_no = #{user_no} AND sg_no = #{sg_no}
		</select>
	
		<!-- 숙제 조회 -->
		<select id="getHomeworkList" resultType="HomeWorkVO">
			SELECT HW_HIS.*, HW.*, U.USER_NAME 
			FROM HOMEWORK_HISTORY HW_HIS 
			LEFT JOIN HOMEWORK HW
			ON HW.HOMEWORK_NO = HW_HIS.HOMEWORK_NO
			LEFT JOIN USER U
			ON HW.USER_NO = U.USER_NO
			WHERE HW_HIS.USER_NO = #{user_no}
		</select>
		
		<!-- 숙제 제출 -->
		<insert id="homeworkSubmission">
			INSERT INTO HOMEWORK_HISTORY (STU_CONTENT, STU_Q)
						VALUES (#{stu_content}, #{stu_q)
		</insert>
		
	</mapper>