<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.geomin.project.teacher.service.TeacherMapper">
  	<!-- 학습 그룹 등록 -->
  	<insert id="RegistGroup">
		INSERT INTO STUDY_GROUP (
			USER_NO,
		    GAME_NO,
		    SG_NAME,
		    SG_REGDATE,
		    SG_ENDDATE,
		    SG_CAPA,
		    SG_LEVEL,
		    SG_PLUS,
		    SG_GROUPLIMIT
		) VALUES (
			#{user_no},
			#{game_no},
			#{sg_name},
			#{sg_regdate},
			#{sg_enddate},
			0,
			#{sg_level},
			#{sg_plus},
			#{sg_grouplimit}
		)
  	</insert>

	<!-- 학습 그룹 조회 -->
  	<select id="learnGroupLook" resultType="learnGroupVO">
  		SELECT DATE_FORMAT(SG_REGDATE, '%Y-%m-%d') AS SG_REGDATE,
  			   SG_NO,
  			   USER_NO,
  			   GAME_NO,
  			   SG_NAME,
  			   SG_ENDDATE,
  			   SG_CAPA,
  			   SG_LEVEL,
  			   SG_PLUS,
  			   SG_GROUPLIMIT
  			   FROM STUDY_GROUP
  	</select>
  	
  	<!-- 내가 만든 그룹 목록 -->
  	<select id="myGroupList" resultType="learnGroupVO">
  		SELECT * FROM STUDY_GROUP WHERE USER_NO = #{user_no}
  	</select>
  	
  	<!-- 숙제 등록 -->
  	<insert id="RegistHomework">
  		INSERT INTO HOMEWORK (
  			USER_NO, 
  			HOMEWORK_NAME, 
  			HOMEWORK_CONTENT,
  			HOMEWORK_LEVEL, 
  			HOMEWORK_DUEDATE, 
  			HOMEWORK_REGDATE, 
  			HOMEWORK_MODIDATE, 
  			SG_NO)
  			
			VALUES (
			    #{user_no},
			    #{homework_name},
			    #{homework_content},
			    #{homework_level},
			    #{homework_duedate}, 
			    #{homework_regdate},
			    #{homework_modidate},
			    #{sg_no}
			);
  	</insert>
  	
  	
  	<!-- 그룹 상세정보(1) -->
  	<select id="groupDetail" resultType="learnGroupVO">
<!--   		<selectKey resultType="int" keyProperty="game_no" order="BEFORE">
  			SELECT GAME_NO FROM STUDY_GROUP WHERE SG_NO = #{sg_no}
  		</selectKey> -->
  		
	  		SELECT * FROM GAME_CONTENT GC
			LEFT JOIN STUDY_GROUP SG ON SG.GAME_NO = GC.GAME_NO WHERE SG_NO = #{sg_no};
  	
<!--   	  	  	SELECT DATE_FORMAT(SG_REGDATE, '%Y-%m-%d') AS SG_REGDATE,
  			   SG_NO,
  			   USER_NO,
  			   GAME_NO,
  			   SG_NAME,
  			   SG_ENDDATE,
  			   SG_CAPA,
  			   SG_LEVEL,
  			   SG_PLUS,
  			   SG_GROUPLIMIT
  			   FROM STUDY_GROUP WHERE SG_NO = #{sg_no} -->
  	
  	</select>
  	
  	<select id="getHomework" resultType="HomeWorkVO">
  		select * from HOMEWORK;
  	</select>
  	
  	
  	
  
  
  </mapper>
    