<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.geomin.project.UserServiceTwo.UserServiceTwoMapper">
  <select id="MyList" resultType="com.geomin.project.command.GameContentVO">
SELECT e.game_title, e.game_price, e.game_sub_startDate, e.game_sub_endDate, d.purchase_date, f.sg_name, f.sg_level 
FROM game_content AS e 
LEFT JOIN game_purchase AS d ON e.user_no = d.user_no 
LEFT JOIN study_group AS f ON e.user_no = f.user_no 
ORDER BY e.game_no DESC 
LIMIT #{JTwoPageList}, #{JTwoAmount};
  
  
  
  
  
  
  
  
  
  </select>
    <select id="MyToTal" resultType="int">
SELECT count(*) as total
FROM game_content AS e 
INNER JOIN game_purchase AS d ON e.user_no = d.user_no 
INNER JOIN study_group AS f ON e.user_no = f.user_no    ; 
  </select>
  
  </mapper>