<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./baseLayout/base_m :: setContent( ~{ :: section} ) }">

  <section>

    <div class="edu__title"><span>교육 영상</span></div>

    <!-- 튜토리얼 영상 -->
    <div class="edu__content">
      <div class="edu__content__wrapper">
        
        <div class="edu__content__title"><span>튜토리얼</span></div>

        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">튜토리얼 영상1</div>
            <div class="swiper-slide">튜토리얼 영상2</div>
            <div class="swiper-slide">튜토리얼 영상3</div>
            <div class="swiper-slide">튜토리얼 영상4</div>
            <div class="swiper-slide">튜토리얼 영상5</div>
            <div class="swiper-slide">튜토리얼 영상6</div>
            <div class="swiper-slide">튜토리얼 영상7</div>
            <div class="swiper-slide">튜토리얼 영상8</div>
            <div class="swiper-slide">튜토리얼 영상9</div>
            <div class="swiper-slide">튜토리얼 영상10</div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">튜토리얼 영상11</div>
            <div class="swiper-slide">튜토리얼 영상12</div>
            <div class="swiper-slide">튜토리얼 영상13</div>
            <div class="swiper-slide">튜토리얼 영상14</div>
            <div class="swiper-slide">튜토리얼 영상15</div>
            <div class="swiper-slide">튜토리얼 영상16</div>
            <div class="swiper-slide">튜토리얼 영상17</div>
            <div class="swiper-slide">튜토리얼 영상18</div>
            <div class="swiper-slide">튜토리얼 영상19</div>
            <div class="swiper-slide">튜토리얼 영상20</div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>

  <!-- 무료 영상 -->
    <div class="edu__content">

      <div class="edu__content__wrapper">
        <div class="edu__content__title"><span>무료 강의</span></div>

          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">무료 강의 영상1</div>
              <div class="swiper-slide">무료 강의 영상2</div>
              <div class="swiper-slide">무료 강의 영상3</div>
              <div class="swiper-slide">무료 강의 영상4</div>
              <div class="swiper-slide">무료 강의 영상5</div>
              <div class="swiper-slide">무료 강의 영상6</div>
              <div class="swiper-slide">무료 강의 영상7</div>
              <div class="swiper-slide">무료 강의 영상8</div>
              <div class="swiper-slide">무료 강의 영상9</div>
              <div class="swiper-slide">무료 강의 영상10</div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>

          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">무료 강의 영상11</div>
              <div class="swiper-slide">무료 강의 영상12</div>
              <div class="swiper-slide">무료 강의 영상13</div>
              <div class="swiper-slide">무료 강의 영상14</div>
              <div class="swiper-slide">무료 강의 영상15</div>
              <div class="swiper-slide">무료 강의 영상16</div>
              <div class="swiper-slide">무료 강의 영상17</div>
              <div class="swiper-slide">무료 강의 영상18</div>
              <div class="swiper-slide">무료 강의 영상19</div>
              <div class="swiper-slide">무료 강의 영상20</div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>  

        </div>
    </div>


  </section>

</th:block>
</html>