<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		<div th:fragment="UserTwo">
		<div id="myModal" class="modal">
			
			<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<div class="modal__msg">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="name2">바둑게임을 통해서 바둑의 개념을 익히고, 문제를 하나씩
										풀어나가는...</span>
								</div>
								<div class="default__info3">
									<span class="default__info2"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div>
									<span class="default__price12"></span>
								</div>
								<div class="default__price3">
									<span class="default__price"></span>
								</div>
								<div class="default__price3">
									<span class="default__price2">학습기간 : </span>
								</div>

								     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="cartMessage" style="display: none;">장바구니에 추가되었습니다!</div>
		<div id="paidMessage" style="display: none;">이미 구매한 게임입니다.</div>
		<div id="inCartMessage" style="display: none;">이미 장바구니에 있습니다.</div>
		<div id="myModal2" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>

								     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="myModal3" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>

							     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="myModal4" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>

							     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="myModal5" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>

								     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>
							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="myModal6" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>
     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="myModal7" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>

								     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="myModal8" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>

								     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="myModal9" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>

								     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		<div id="myModal10" class="modals">

			<!-- Modal content -->
			<div class="modal-contents">
				<span class="closes">&times;</span>
				<div class="modal__msgs">
					<div class="gameContentInfo">

						<div class="gameContentInfo__wrap">

							<div class="gameContentInfo__wrap__mainTitle2"></div>

							<div class="gameContentInfo__img">
								<img src="/img/04_game_main.png" alt="">
							</div>
							<div id="gameContentInfo__form">

								<div class="default__information">
									<span class="game_contents">바둑게임을 통해서 바둑의 개념을 익히고, 문제를
										하나씩 풀어나가는...</span>
								</div>
								<div class="default__info">
									<span id="content__info"></span>
								</div>
								<div class="default__info">
									<span>학습대상 : 일반인 </span>
								</div>
								<div class="default__info">
									<span>구매 혜택 : 바둑실력 늘음</span>
								</div>

								<div class="default__price">
									<span class="content__price1"></span>
								</div>
								<div class="default__price">
									<span class="content__price"></span>
								</div>
								<div class="default__price">
									<span class="content__price2">학습기간 : </span>
								</div>

							     <div class="default__button">
                <form action="" method="get"><button type="submit">1개월 구독</button></form>
                <form action="" method="get"><button type="submit">3개월 구독</button></form>
                <form action="" method="get"><button type="submit">6개월 구독</button></form>
                <form action="" method="get"><button type="submit">12개월 구독</button></form>
              </div>

							</div>

						</div>
					</div>
				</div>
			</div>



		</div>
		</div>
</html>