<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<meta charset="EUC-KR">

<div class="game__body__content" th:fragment="user">
	<div class="game__content__above">



		<div id="game__item__wrap" th:each="vo, status : ${pagesubList}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>
		<div id="game__item__wrap" th:each="vo, status : ${a1}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>
		<div id="game__item__wrap" th:each="vo, status : ${a2}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>
		<div id="game__item__wrap" th:each="vo, status : ${a3}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>
		<div id="game__item__wrap" th:each="vo, status : ${a4}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>




	</div>

	<div class="game__content__below">
		<div id="game__item__wrap2" class="myBtn" data-id="${game_no}"
			th:each="vo, status : ${pagesubListTwo}">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="game_target_level" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="game_price" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}" class="game">
				<input type="hidden" th:value="${vo.game_sub_regDate}" class="games">
			</div>
		</div>
		<div id="game__item__wrap" th:each="vo, status : ${b1}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>
		<div id="game__item__wrap" th:each="vo, status : ${b2}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>
		<div id="game__item__wrap" th:each="vo, status : ${b3}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>
		<div id="game__item__wrap" th:each="vo, status : ${b4}"
			class="myBtns">

			<div class="game__content__item">
				<div class="game__thumbnail">
					<img src="/img/05_game_main.png" alt="">
				</div>
				<div class="game__thumbnail__title">
					<span class="class01" th:value="${vo.game_title}">[[${vo.game_title}]]</span>
				</div>
				<div class="game__thumbnail__type">
					<span class="class02" th:value="${vo.game_target_level}">[[${vo.game_target_level}]]</span>
				</div>
				<div class="game__thumbnail__price">
					<span class="class03" th:value="${vo.game_price}">[[${vo.game_price}]]</span>
				</div>
				<input type="hidden" th:value="${vo.game_sub_endDate}"
					class="class04"> <input type="hidden"
					th:value="${vo.game_sub_regDate}" class="class05">
			</div>
		</div>

	</div>
</div>