<html xmlns:th="http://www.thymeleaf.org">


<body>
	<div th:fragment="User_product_PageList" class="table__page">


	
		

			
			
					
						<div class="table__page__list" th:each="JTwoPage: ${JTwoPageVO.JTwoPageList}">
							<button class="page__button page__active" th:href="@{User_myproduct(JTwoPage = ${JTwoPage}, JTwoAmount = ${JTwoPageVO.JTwoAmount})}">[[${JTwoPage}]]</button>
							<button class="page__button">2</button>
							<button class="page__button">3</button>
							<button class="page__button">4</button>
							<button class="page__button">5</button>
							<button class="page__button">6</button>
							<button class="page__button">7</button>
						</div>
					
	
			
	








	</div>
</body>
</html>